#bicicletas h2::after {
  content: "";
}

.bicicletas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.bicicletas h2 {
  position: relative;
  margin-bottom: 1.25rem;
}

.bicicletas h2::before {
  content: "";
  display: block;
  background-color: var(--p1);
  width: 12px;
  height: 8px;
  margin-bottom: 0.5rem;
}

.bicicletas p {
  font-weight: 400;
  margin-bottom: 2rem;
}

.bicicletas ul {
  font-weight: 500;
}

.bicicletas li + li {
  margin-top: 1rem;
}

.bicicletas > div + div {
  margin-top: 3.75rem;
}

.nimbus,
.magic,
.nebula {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.magic-bg {
  background: linear-gradient(to right, var(--c0) 15%, var(--c11) 15%);
}

.magic {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.imagem-nimbus,
.imagem-magic,
.imagem-nebula {
  position: relative;
}

.imagem-nimbus img,
.imagem-magic img,
.imagem-nebula img {
  object-position: center;
}

.imagem-nimbus,
.imagem-magic,
.imagem-nebula {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.imagem-nimbus span,
.imagem-magic span,
.imagem-nebula span {
  margin-top: 2rem;
  padding: 8px;
  background-color: var(--c12);
  border-radius: 0.3125rem 0 0 0.3125rem;
}

.imagem-nimbus span,
.imagem-magic span,
.imagem-nebula span {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: right;
}

.imagem-nimbus img,
.imagem-magic img,
.imagem-nebula img {
  grid-column: 1 / -1;
  grid-row: 1;
}

.texto-nimbus div,
.texto-magic div,
.texto-nebula div {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.texto-nimbus ul li,
.texto-magic ul li,
.texto-nebula ul li {
  position: relative;
  display: flex;
  width: max-content;
}

.texto-nimbus ul li::before,
.texto-magic ul li::before,
.texto-nebula ul li::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.texto-nimbus ul li:first-child:before,
.texto-magic ul li:first-child:before,
.texto-nebula ul li:first-child:before {
  background: url(/assets/icones/eletrica-home.svg) no-repeat;
}

.texto-nimbus ul li:nth-child(2):before,
.texto-magic ul li:nth-child(2):before,
.texto-nebula ul li:nth-child(2):before {
  background: url(/assets/icones/carbono.svg) no-repeat;
}

.texto-nimbus ul li:nth-child(3):before,
.texto-magic ul li:nth-child(3):before,
.texto-nebula ul li:nth-child(3):before {
  background: url(/assets/icones/velocidade.svg) no-repeat;
}

.texto-nimbus ul li:last-child:before,
.texto-magic ul li:last-child:before,
.texto-nebula ul li:last-child:before {
  background: url(/assets/icones/rastreador-home.svg) no-repeat;
}

@media (max-width: 800px) {
  .lista-atributos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .bicicletas li + li {
    margin-top: 0rem;
  }

  .texto-nimbus div,
  .texto-magic div,
  .texto-nebula div {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .bicicletas {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .bicicletas > div + div {
    margin-top: 2rem;
  }
  .nimbus,
  .magic,
  .nebula {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .imagem-nimbus span,
  .imagem-magic span,
  .imagem-nebula span {
    border-radius: 0.3125rem 0.3125rem 0 0;
    place-self: end center;
  }

  .magic-bg {
    background: linear-gradient(to bottom, var(--c0) 30%, var(--c11) 30%);
  }

  .texto-nimbus div,
  .texto-magic div,
  .texto-nebula div {
    align-items: initial;
  }
  .texto-nimbus a,
  .texto-magic a,
  .texto-nebula a {
    align-self: self-end;
  }
}

@media (max-width: 350px) {
  .imagem-nimbus img,
  .imagem-magic img,
  .imagem-nebula img {
    width: 250px;
    height: 200px;
  }
}
