:root {
  --tg1: "Poppins", sans-serif;
  --tg2: "Roboto", sans-serif;

  --c0: #fff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000;

  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;

  --gradi: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
}

/* ========== css reset ========== */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body,
section,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li,
span {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

span {
  display: block;
}

/* ========== Utilitário ========== */

/* .container-primario {
  margin: 0 auto;
  padding-right: 13rem;
  padding-left: 13rem;
}

@media (max-width: 550px) {
  .container-primario {
    padding-right: 6.5rem;
    padding-left: 6.5rem;
  }
}

@media (max-width: 350px) {
  .container-primario {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
}

@media (max-width: 250px) {
  .container-primario {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
} */

/* .logo {
  min-width: 125px;
} */

.container-primario {
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 1200px;
}

.container-secundario {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.botao {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  padding: 1rem 2rem;
  background: var(--gradi);
  color: var(--p5);
  border-radius: 0.3125rem;
  font-family: var(--tg1);
  font-size: 1.125rem;
  font-weight: 600;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.font-1-xxl {
  font-family: var(--tg1);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.125;
}

.font-1-xl {
  font-family: var(--tg1);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}

.font-1-l {
  font-family: var(--tg1);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.font-2-l {
  font-family: var(--tg2);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.font-2-l-b {
  font-family: var(--tg2);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1.5%;
  text-transform: uppercase;
}

.font-1-m {
  font-family: var(--tg1);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.33;
}

.font-1-m-b {
  font-family: var(--tg1);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.33;
}

.font-2-m {
  font-family: var(--tg1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
}

.font-1-s {
  font-family: var(--tg1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.33;
}

.font-2-s {
  font-family: var(--tg2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.33;
}

.font-2-xs {
  font-family: var(--tg2);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.428;
}

.font-1-xs {
  font-family: var(--tg1);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.33;
}

/* ========= Cores ========= */

.c0 {
  color: #fff;
}
.c1 {
  color: #f7f7f7;
}
.c2 {
  color: #ededed;
}
.c3 {
  color: #dedede;
}
.c4 {
  color: #cccccc;
}
.c5 {
  color: #b2b2b2;
}
.c6 {
  color: #9c9c9c;
}
.c7 {
  color: #717171;
}
.c8 {
  color: #595959;
}
.c9 {
  color: #404040;
}
.c10 {
  color: #2e2e2e;
}
.c11 {
  color: #111111;
}
.c12 {
  color: #000;
}

.p1 {
  color: #ffbb00;
}
.p2 {
  color: #e4a30b;
}
.p3 {
  color: #a66f00;
}
.p4 {
  color: #664400;
}
.p5 {
  color: #332200;
}

@media (max-width: 600px) {
  h1 {
    color: orchid;
  }
}
