body {
  --padding-120: 7.5rem;
  --padding-60: 3.75rem;
}
@media (max-width: 800px) {
  body {
    --padding-120: 3.75rem;
    --padding-60: 2rem;
  }
}
@media (max-width: 500px) {
  body {
    --padding-120: 2rem;
  }
}

h1::after,
h2::after {
  content: ".";
  color: var(--p1);
}
/* ========== css reset ========== */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
svg {
  max-width: 100%;
}

address {
  font-style: normal;
}

body,
section,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li,
span,
blockquote,
dd,
dl {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0rem;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

img[src$=".jpg"] {
  border-radius: 0.3125rem;
  object-fit: cover;
  object-position: left center;
}

span {
  display: block;
}

label {
  display: block;
}

button {
  border-width: 0;
  cursor: pointer;
}
