.introducao-bg {
  background-color: var(--c12);
}

.introducao {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 5rem;
}

.introducao > div {
  align-self: center;
}

.introducao > div p {
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}
