.perguntas {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.perguntas h2 {
  margin-bottom: 5rem;
}

.perguntas dt {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.perguntas dt::before {
  content: "";
  background-color: var(--p1);
  width: 12px;
  height: 8px;
  display: inline-block;
}
.perguntas dt::after {
  content: "";
  background: url(../../assets/icones/seta-abrir.svg);
  width: 14px;
  height: 6px;
  display: inline-block;
}

.perguntas dd {
  max-width: 80ch;
  margin-left: 1.25rem;
}

.perguntas dl {
  padding: 1.25rem;
}

.perguntas dl:nth-child(even) {
  background-color: var(--c1);
  border-radius: 0.3125rem;
}

@media (max-width: 800px) {
  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}
